<div class="rulers">
    <svg class="icon z-truck">
        <use xlink:href="#z-truck" />
    </svg>
    <div>
        <strong>Frete Grátis</strong>
        <span>confira as condições</span>
    </div>
</div>

<div class="rulers">
    <svg class="icon z-card">
        <use xlink:href="#z-card" />
    </svg>
    <div>
        <strong>Parcelamento</strong>
        <span>em até 12x sem juros</span>
    </div>
</div>

<div class="rulers">
    <svg class="icon z-lock">
        <use xlink:href="#z-lock" />
    </svg>
    <div>
        <strong>100% seguro</strong>
        <span>produtos originais</span>
    </div>
</div>

<div class="rulers">
    <svg class="icon z-discount">
        <use xlink:href="#z-discount" />
    </svg>
    <div>
        <strong>5% OFF</strong>
        <span>depósito ou transferência</span>
    </div>
</div> 
