color1_font = #4a6501
color1_font_hover = #000000
color1_bg = #9ec439
color1_bg_hover = #b5d070
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #7faf00
color2_bg_hover = #729d00
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
