.cms-home .header-container + .banner
    margin: 0

#banner__banner-duo
    margin-top: 30px

    img
        width: 100%
        height: auto !important
        object-fit: cover

    .banner__link
        padding: 10px
        height: auto !important

    &:not(.banner--nojs) img.d_img
        position: static
        transform: none

#banner__banner-linha
    margin-top: 30px

#banner__banner-footer
    margin-top: -16px
    width: 100%
    object-fit: cover
