.footer
    &, .std, a
        color: #fff

    &-container
        background: #8eb91b
        color: #fff

    .flex .title
        color: #ffffff

    @media media-max-lg
        text-align: center

        &__contact, &__about, &__doubts, &__account
            flex: 0 0 100%

        .flex
            justify-content: center

        .myaccount__header
            margin: 0 auto
            width: 44px