.footer
    &, .std, a
        color: #fff

    &-container
        background: #8eb91b
        color: #fff

    .flex .title
        color: #ffffff

    @media media-max-sm
        text-align: center

        .flex
            justify-content: center