.mycart
    &__header
        .ico
            width: 25px
            height: 25px
            fill: var(--primary-contrast)

        .qtd
            background: var(--primary-contrast)
            color: white
            font-weight: bold

    &__content
        display: none !important