.mywish
    z-index: 10

    &__header
        .ico
            width: 19px
            height: 19px
            fill: var(--primary-contrast)

        .qtd
            background: var(--primary-contrast)
            color: white
            font-weight: bold

            @media media-max-sm
                top: 5px
                right: 5px

    &__content
        display: none !important