.rulers
    --color: #333333

    &
        display: flex
        justify-content: center
        align-items: center
        color: var(--color)
        font-size: 14px

    .icon
        margin-right: 5px
        width: 30px
        height: 20px