.top-head
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 0 !important
    height: 40px
    color: var(--primary-contrast)
    text-align: center
    font-size: 14px

    @media media-max-md
        display: none

    strong
        padding: 3px
        border: dashed 1px var(--primary)
        font-weight: 600